<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="static/css/adminHome.css">
    </head>
    <body>
        <h2 class="display-3">Home Page</h2>
        <form method="POST" action="/adminHome/access">
            <div class="input-group-append" id="button-addon2">
                <button class="box btn btn-outline-secondary" type="submit" name="clickBtn" value="manageStudent">Students</button>
                <button class="box btn btn-outline-secondary" type="submit" name="clickBtn" value="manageCourse">Courses</button>
                <button class="box btn btn-outline-secondary" type="submit" name="clickBtn" value="manageSkill">Skills</button>
                <button class="box btn btn-outline-secondary" type="submit" name="clickBtn" value="editAccount">Account</button>
                <button class="box btn btn-outline-secondary" type="submit" name="clickBtn" value="viewCV">View CV</button>
            </div>
        </form>
        <form method="POST" action="/logout">
            <div class="input-group-append" id="button-addon">
                <button class="btn btn-outline-third" type="submit" value="logout">Logout</button>
            </div>
        </form>
    </body>
</html>