<!DOCTYPE html>
<html>
    <head>
        <title>Student CV</title>
        <link rel="stylesheet" href="static/css/cv.css">
    </head>
    <body>
        <div class="container">
            <div class="center">          
                <h1>Student's CV</h1>
                </div>
            <div class="logo">
                <img src="https://image.exam24h.com/public/exam24h-wiki/attribute/c10279623c0cae9cbb0b238d2754c61c.PNG" width="70px" height="70px" title="Hanu logo" alt="logo">
            </div>
            <h2 class="display-3">About Me</h2>
            <h2 class="display-4">Infomation</h2>
            <div class="info"><h3>Name: {{currentStudent.name}}</h3>
            <br><h3>ID: {{currentStudent.stuID}}</h3>
            <br><h3>DOB: {{currentStudent.dob}}</h3>
            </div>
            <h2 class="display-4">Contact</h2>
            <div class="contact">
            <h3>Email: {{currentStudent.email}}</h3>
            <br><h3>Phone Number: {{currentStudent.phoneNum}}</h3>
            </div>
            <h2 class="display-3">Skills that student have</h2>
            {% for skill in skillList: %}
            <div class="skill">
                <h3>- {{skill.skillName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
            </div>
            {% endfor %}
        </div>       
    </body>
</html>